{% extends 'base.html' %}
{% block content %}
    <div class="head" style="text-align: center; margin-top: 3vh; margin-bottom: 7vh;">
    <h2 class="">All topics</h2>
    <h4>On this page you may see all topics of our forum.</h4>
        <a href="" class="btn btn-info">My topics</a>
    </div>
    {% for topic in object_list %}
        <div class="card" style="width:800px;margin:0 auto;">
        <div class="card-header">
            <a class="font-weight-bold" href="{% url 'topic_detail' topic.pk %}">{{ topic.title }}</a>&middot;
            <span class="text-muted">by {{ topic.author }} | {{ topic.date }}</span>
        </div>
        <div class="card-body">
            {{ topic.body }}<br>
            {% if topic.author == user %}
            <form method="POST" action="{% url 'topic_delete' topic.pk %}">
             <a href="{% url 'topic_edit' topic.pk %}" class="btn btn-primary">Edit</a>
                {% csrf_token %}<input type="submit" class="btn btn-danger" value="Delete">
            </form>
            {% endif %}
        </div>

        <div class="card-footer text-center text-muted">
            {% for comment in topic.comments.all %}
        <p>
        <span class="font-weight-bold">{{ comment.author }} &middot;</span>
        {{ comment }}
        </p>
                {% endfor %}

        </div>


        </div>
        <br/>
        <hr>
    {% endfor %}
{% endblock content %}
